main {
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 30px;
	font-family: helvetica;

}

header {
	background-color: #FFB4B0;
	margin 0 auto; 
	border: 2px solid;
	padding: 20px;
}

nav {
	background-color: #4DD7FA;
	width: 170px;
	padding: 14px;
	border: 2px solid;
	margin-top: 17px; 
	float: left;
	font-size: 12px;
	margin-right: 0;
}

#filter {
	text-align: center;
}

aside {
	
	background-color: #FEFAC0;
	border: 2px solid black;
	padding: 17px;
	float: right;
	width: 700px;
	margin-top: 17px; 
	margin-bottom: 9px;
	height: 365px;
}

#filter {
	padding: 7px;
}

#genre {

	padding: 5px;
}

input[type="radio"] {
  margin-right: 0;
}

h2 {
	font-size: 23px;
	color:#785616;
}

p {
	font-size: 17px;
}